.App {
}
body{
  min-width: 440px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
@media (max-width: 440px) { 
  body{
    overflow-x: visible;
  }
}
.spin {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.App-header {
  background-color: #68a9a3;
  height: 100px;
  padding: 10px;
  color: white;
  text-align: center;
}
.App-title {
  font-size: 26pt;
  margin-top: 0;
}
.App-intro {
  font-size: large;
}
.error{
  text-align: center;
}
#theWall {
  max-width: 1320px;
  min-width: 440px;
  margin: auto;
  margin-top: 14px;
  overflow: hidden;
}
#theWall ul {
  display: grid;
  padding: 0;
  margin: 0 auto;
}
#builtBy {
  text-align: center;
  text-align: center;
  color: #25958b;
}
#builtBy a {
  font-weight: bold;
}