
nav a {
    color: #7baaa4;
    font-size: 16pt;
}
nav a:active {
    color: #24a8ff;
}
nav div {
    padding: 14px 10px;
}
nav li {
    display: inline-block;
    left: 0px;
    position: relative;
    text-align: left;
}
nav ul {
    max-width: 854px;
    min-width: 440px;
    margin: auto;
    padding: 0;
}

.right {
    float:right;
    margin-right: 6px;
}

.abs {
    position: absolute;
    bottom: 0;
    background-color: #fff78f;
}