#submit {
  display: block; 
  margin: auto;
  border-radius: 20px;
  padding: 4px;
  width: 400px;
  background-color: #47a8e9;
  border: 1px solid white;
  color: white;
  font-size: 14pt;
  margin-top: 5px;
  cursor: pointer;
}
#submit:hover {
  background-color:#338bc6;

}
form label {
  font-size: 14pt;
  display: inline-block;
  width: 80px;
  text-align: right;
  vertical-align: top;
}
form input {
  vertical-align: text-bottom;
  padding: 2px;
  font-size: 12pt;
  padding-left: 6px;
  width: 266px;
  margin-left: 4px;
  vertical-align: top;
  border: none;
  border-radius: 3px;
}
form div {
  height: 25px;
}
#clipboard {
  border-radius: 6px;
  border: 1px solid #fff;
  vertical-align: middle;
  width: 46px;
  height: 22px;
  margin-left: 6px;
  cursor: pointer;
}