#submit {
  display: block; 
  margin: auto;
  border-radius: 20px;
  padding: 4px;
  width: 400px;
  background-color: #93d4ff;
  border: 1px solid #ddd;
  color: white;
  font-size: 14pt;
  margin-top: 22px;
}
form label {
  font-size: 18pt;
  display: inline-block;
  width: 114px;
  text-align: right;
}
form input {
  vertical-align: text-bottom;
  padding: 2px;
  font-size: 12pt;
}
form div {
  height: 30px;
}
#clipboard {
  border-radius: 6px;
  border: 1px solid #fff;
  vertical-align: middle;
  width: 46px;
  height: 22px;
  margin-left: 6px;
  cursor: pointer;
}
form {
  top: -6px;
  position: relative;
}